<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>e-Card</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/agency.css" rel="stylesheet" />
    <link href="~/Content/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/angular-growl.min.css" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
 
</head>


<body id="page-top" ng-controller="mainController as vm" ng-init="Init()">

    <button id="dupbutton" hidden="hidden" data-target="#DuplicateModal" data-toggle="modal"></button>
    <div growl class="fading"></div>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">e-Card</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <input class="form-control" type="text" placeholder="Search Moto..." ng-keydown="Search($event)"
                               ng-model="vm.Search"/>
                    </li>
                    <li class="nav-item" ng-show="vm.CurrentUser.Type == 'USR'">
                        <a class="nav-link js-scroll-trigger" href="#services" id="RequestMenu">Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">For Approval</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#declined">Declined</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#voided">Voided</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Approved</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">
                    Welcome! <span style="color:#fed136">{{vm.CurrentUser.Firstname}}</span>
                    <br />To Credit Card Approval Monitoring
                    <br />

                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#ChangePassModal">Change Password</button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#LogoutModal">Logout</button>
                </div>


            </div>
        </div>
    </header>

    <!-- MOTO REQUEST -->
    <section id="services" ng-show="vm.CurrentUser.Type == 'USR'">
        <div class="container" ng-init="InitMotoRequest()">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">Request Form</h3>
                    <h3 class="section-subheading text-muted">DO NOT INPUT CREDIT CARD NO</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Client Name <span style="font-size:20pt; color:red;">*</span></label>
                        <select class="form-control select2_single" ng-model="vm.Form.ClientCode" style="width:100%"
                                ng-options="item.ID as item.Value for item in vm.ClientDropDown" ng-change="ComputeAdminFee()"></select>
                    </div>

                    <div class="form-group">
                        <label>Card Holder Name <span style="font-size:8pt">(Optional)</span></label>
                        <input class="form-control" type="text" ng-model="vm.Form.Company">
                    </div>

                    <div class="form-group">
                        <label>
                            Passenger Name
                            <span style="font-size:8pt">(LastName/FirstName)</span>
                            <span style="font-size:20pt; color:red;">*</span>
                        </label>
                        <input class="form-control" type="text" ng-model="vm.Form.PaxName">
                    </div>

                    <div class="form-group">
                        <label>Record Locator / Reference <span style="font-size:20pt; color:red;">*</span></label>
                        <input class="form-control" type="text" ng-model="vm.Form.RecordLocator">
                    </div>

                    <div class="form-group">
                        <label>Currency <span style="font-size:20pt; color:red;">*</span></label><br />
                        <input type="radio" value="PHP" ng-model="vm.Form.Currency" ng-click="ComputeAdminFee()" />PHP
                        <input type="radio" value="USD" ng-model="vm.Form.Currency" ng-click="ComputeAdminFee()"/>USD
                    </div>

                    <div class="form-group">
                        <label>Option Time <span style="font-size:8pt">(Optional)</span></label>
                        <input class="form-control" type="text" ng-model="vm.Form.OptionTime">
                    </div>

                </div><!--col-md-6-->

                <div class="col-md-6">

                    <div class="form-group">
                        <label>Amount 
                            <span style="font-size:8pt">(Fare + Taxes + IPP)</span> 
                            <span style="font-size:20pt; color:red;">*</span>
                        </label>
                        <input class="form-control" type="number" ng-model="vm.Form.Amount" ng-change="ComputeAdminFee()">
                    </div>

                    <div class="form-group">
                        <label>Other Fees <span style="font-size:8pt">(Insurance/Ancillaries)</span></label>
                        <input class="form-control" type="number" ng-model="vm.Form.Others" ng-change="ComputeAdminFee()">
                    </div>

                    <div class="form-group">
                        <label>BCD Fee <span style="font-size:8pt">(Service Fee)</span><span style="right:0">
                                <input type="checkbox" value="Y" ng-model="vm.Form.IfVAT" id="VATCheckBox" ng-change="ComputeVAT()" /> w/ VAT
                            </span>
                        </label>
                        <input class="form-control" type="number" ng-model="vm.Form.BCDFee" ng-change="BCDFeeChange()">
                    </div>

                    <div class="form-group">
                        <label>
                            Admin Fee
                            <span style="font-size:8pt; color:red; display:none" id="ManualComp">(Manual Compute Needed)</span>
                            <span style="font-size:8pt; color:green; display:none" id="AutoComp">(Auto Compute)</span>
                        </label>
                        <input class="form-control" type="number" ng-model="vm.Form.AdminFee" value="{{vm.Form.AdminFee}}" data-ng-keyup="ComputeTotal()">
                    </div>

                    <div class="form-group">
                        <label>Total <span style="font-size:8pt; color:green;">(Auto Compute)</span></label>
                        <input class="form-control" type="number"
                               value="{{vm.totalAmount}}" disabled="disabled">
                    </div>
                </div><!--col-md-6-->

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Remarks <span style="font-size:8pt">(Optional)</span></label>
                        <textarea class="form-control" rows="5" ng-model="vm.Form.Remarks"></textarea>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="SaveMotoRequest(vm.Form)">Submit</button>
                        <button class="btn btn-default" ng-click="ClearMotoForm()">Clear</button>
                    </div>
                </div><!--col-md-12-->
            </div>
        </div>
    </section>
    <!--Report Grid-->

    <section id="ReportGrid" ng-show="vm.CurrentUser.Type == 'APR'">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="color:black">Report Extraction</h3>
                </div>
            </div>

            <div class="row">
                <table style="width:100%; font-size:12px;">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>

                    <tr>
                        <td>All Moto Request via Approved Date</td>
                        <td>Extracts all Moto Request by date range</td>
                        <td>
                            <button id="allMotoBtn" class="btn btn-default btn-sm" data-target="#allReportModal" data-toggle="modal">
                                <i class="fa fa-download"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>Approved Moto Request via Approved Date</td>
                        <td>Extracts all Approved Moto Request by date range</td>
                        <td>
                            <button id="approvedMotoBtn" class="btn btn-default btn-sm" data-target="#approvedReportModal" data-toggle="modal">
                                <i class="fa fa-download"></i>
                            </button>
                        </td>
                    </tr>

                    @*<tr>
                            <td>Declined Moto Request</td>
                            <td>Extracts all Declined Moto Request by date range</td>
                            <td>
                                <a class="btn btn-default btn-sm" ng-click="OpenReport('declined')"><i class="fa fa-download"></i></a>
                            </td>
                        </tr>*@
                </table>
            </div>
        </div>
    </section>
    <!--/Report Grid-->
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container" ng-init="InitPendingMoto()">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">For Approval</h3>
                    <h3 class="section-subheading text-muted">Pending Credit Card Moto Request</h3>
                </div>
            </div>
            <div class="row">
                <table style="width:100%; font-size: 12px;">
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Passenger Name</th>
                        <th>Record Locator</th>
                        <th>Amount</th>
                    </tr>

                    <tr ng-repeat="req in vm.Request" style="border-bottom:1px solid #000000">
                        <td>
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewModal" ng-click="ViewMoto(req)"
                                    title="View Moto Request">
                                <i class="fa fa-eye"></i>
                            </button>

                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#CancelMoto"
                                    ng-click="AssignToDelete(req)" ng-show="vm.CurrentUser.Type == 'USR'" title="Cancel Moto Request">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                        <td>{{req.ShowDate}}
                        </td>
                        <td>{{req.ClientName}}</td>
                        <td>{{req.PaxName}}</td>
                        <td>{{req.RecordLocator}}</td>
                        <td>{{req.Currency}} {{req.Total | number: 2}} <span ng-show="req.Status == 'F'"> VOID</span></td>

                    </tr>

                </table>
            </div><!--row-->
        </div>
    </section>

    <section id="declined">
        <div class="container" ng-init="InitDeclined()">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="color:red">Declined</h3>
                </div>
            </div>

            <div class="row">
                <table style="width:100%; font-size: 12px;">
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Passenger Name</th>
                        <th>Record Locator</th>
                        <th>Amount</th>
                        <th>Reason</th>
                    </tr>

                    <tr ng-repeat="dec in vm.Declined" style="border-bottom: 1px solid red">
                        <td>
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewModal" ng-click="ViewMoto(dec)"
                                    title="View Moto Request">
                                <i class="fa fa-eye"></i>
                            </button>

                            <button class="btn btn-success btn-sm" ng-show="vm.CurrentUser.Type == 'USR'" ng-click="ReFile(dec)"
                                    title="Re-File Moto Request">
                                <i class="fa fa-recycle"></i>
                            </button>
                        </td>
                        <td>{{dec.ShowDate}}</td>
                        <td>{{dec.ClientName}}</td>
                        <td>{{dec.PaxName}}</td>
                        <td>{{dec.RecordLocator}}</td>
                        <td>{{dec.Currency}} {{dec.Total | number: 2}}</td>
                        <td>{{dec.DeclinedReason}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <section class="bg-light" id="voided" ng-init="initVoid()">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="color:orangered">Voided</h3>
                </div>
            </div>

            <div class="row">
                <table style="width:100%; font-size:12px;">
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Passenger Name</th>
                        <th>Record Locator</th>
                        <th>Amount</th>
                    </tr>

                    <tr ng-repeat="void in vm.Voided" style="border-bottom: 1px solid orangered">
                        <td>
                            <button class="btn btn-info btn-sm" data-target="#viewModal" data-toggle="modal"
                                    ng-click="ViewMoto(void)" title="View Moto Request">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                        <td>{{void.ShowDate}}</td>
                        <th>{{void.ClientName}}</th>
                        <th>{{void.PaxName}}</th>
                        <th>{{void.RecordLocator}}</th>
                        <th>{{void.Currency}} {{void.Total | number: 2}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>


    <!-- Contact -->

    <section id="contact">
        <div class="container" ng-init="InitApproved()">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="color:lime">Approved</h3>
                    <h3 class="section-subheading text-muted">Approved Credit Card Moto Request</h3>
                </div>
            </div>
            <div class="row">

                <table id="allMotoReportTable" style="display:none">
                    <tr>
                        <th>Date</th>
                        <th>Client Code</th>
                        <th>Client Name</th>
                        <th>Company</th>
                        <th>Passenger Name</th>
                        <th>Record Locator</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Other Fee</th>
                        <th>BCD Fee</th>
                        <th>Admin Fee</th>
                        <th>Total</th>
                        <th>Option Time</th>
                        <th>Approval Code</th>
                        <th>Remarks</th>
                        <th>Requested By</th>
                        <th>Approved Date</th>
                        <th>Approved By</th>
                    </tr>

                    <tr ng-repeat="app in vm.AllMotoReport">
                        <td>{{app.ShowDate}}</td>
                        <td>{{app.ClientCode}}</td>
                        <td>{{app.ClientName}}</td>
                        <td>{{app.Company}}</td>
                        <td>{{app.PaxName}}</td>
                        <td>{{app.RecordLocator}}</td>
                        <td>{{app.Currency}}</td>
                        <td>{{app.Amount}}</td>
                        <td>{{app.Others}}</td>
                        <td>{{app.BCDFee}}</td>
                        <td>{{app.AdminFee}}</td>
                        <td>{{app.Total}}</td>
                        <td>{{app.OptionTime}}</td>
                        <td>{{app.ApprovalCode}}</td>
                        <td>{{app.Remarks}}</td>
                        <td>{{app.FirstName}} {{app.LastName}}</td>
                        <td>{{app.ShowApprovedDate}}</td>
                        <td>{{app.ShowApprovedBy}}</td>
                    </tr>
                </table>

                <table id="approvedReportTable" style="display:none">
                    <tr>
                        <th>Date</th>
                        <th>Client Code</th>
                        <th>Client Name</th>
                        <th>Company</th>
                        <th>Passenger Name</th>
                        <th>Record Locator</th>
                        <th>Currency</th>
                        <th>Amount</th>
                        <th>Other Fee</th>
                        <th>BCD Fee</th>
                        <th>Admin Fee</th>
                        <th>Total</th>
                        <th>Option Time</th>
                        <th>Approval Code</th>
                        <th>Remarks</th>
                        <th>Requested By</th>
                        <th>Approved Date</th>
                        <th>Approved By</th>
                    </tr>

                    <tr ng-repeat="app in vm.ApprovedReport">
                        <td>{{app.ShowDate}}</td>
                        <td>{{app.ClientCode}}</td>
                        <td>{{app.ClientName}}</td>
                        <td>{{app.Company}}</td>
                        <td>{{app.PaxName}}</td>
                        <td>{{app.RecordLocator}}</td>
                        <td>{{app.Currency}}</td>
                        <td>{{app.Amount}}</td>
                        <td>{{app.Others}}</td>
                        <td>{{app.BCDFee}}</td>
                        <td>{{app.AdminFee}}</td>
                        <td>{{app.Total}}</td>
                        <td>{{app.OptionTime}}</td>
                        <td>{{app.ApprovalCode}}</td>
                        <td>{{app.Remarks}}</td>
                        <td>{{app.FirstName}} {{app.LastName}}</td>
                        <td>{{app.ShowApprovedDate}}</td>
                        <td>{{app.ShowApprovedBy}}</td>
                    </tr>
                </table>
                <!--//APPROVED REPORT TABLE-->

                <table style="width:100%; color:white; font-size: 12px;">
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Client Name</th>
                        <th>Passenger Name</th>
                        <th>Record Locator</th>
                        <th>Amount</th>
                        <th>Approval Code</th>
                    </tr>

                    <tr ng-repeat="app in vm.Approved" style="border-bottom: 1px solid lime">
                        <td>
                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewModal" ng-click="ViewMoto(app)"
                                    title="View Moto Request">
                                <i class="fa fa-eye"></i>
                            </button>

                            <button class="btn btn-danger btn-sm" ng-click="AsignToVoide(app)" data-toggle="modal" data-target="#VoidMoto" title="Void Moto Request">
                                <i class="fa fa-ban"></i>
                            </button>
                        </td>
                        <td>{{app.ShowDate}}</td>
                        <td>{{app.ClientName}}</td>
                        <td>{{app.PaxName}}</td>
                        <td>{{app.RecordLocator}}</td>
                        <td>{{app.Currency}} {{app.Total | number: 2}}</td>
                        <th>{{app.ApprovalCode}}</th>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <span class="copyright">Copyright &copy; e-Card 2017</span>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="~/img/logos/PhilscanLogo.png" alt="Philscan Logo">
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <img class="img-fluid d-block mx-auto" src="~/img/logos/BCDLogo.gif" alt="BCD Logo">
                    </a>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">version 3.4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--/FOOTER-->

    <!--SEARCH MODAL-->
    <div class="portfolio-modal modal fade" id="SearchModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr"><div class="rl"></div></div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="modal-body">
                            <h2>Moto Request</h2>

                            <table style="width:100%; font-size: 12px;">
                                <tr>
                                    <th></th>
                                    <th>Log ID</th>
                                    <th>Date</th>
                                    <th>Client Name</th>
                                    <th>Passenger Name</th>
                                    <th>Record Locator</th>
                                    <th>Amount</th>
                                    <th>Requested By</th>
                                    <th>Status</th>
                                </tr>

                                <tr ng-repeat="s in vm.SearchItems" style="border-bottom:1px solid">
                                    <td>
                                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#viewModal" ng-click="ViewMoto(s)"
                                                title="View Moto Request">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                    <td>{{s.ShowLogID}}</td>
                                    <td>{{s.ShowDate}}</td>
                                    <td>{{s.ClientName}}</td>
                                    <td>{{s.PaxName}}</td>
                                    <td>{{s.RecordLocator}}</td>
                                    <td>{{s.Amount}}</td>
                                    <td>{{s.ShowRequestedBy}}</td>
                                    <td>{{s.ShowStatus}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-modal modal fade" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>

                <div class="container" style="text-align: left;">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2>Moto Request</h2>

                                <label>Log ID:</label><span class="modalRequest">{{vm.ViewModal.ShowLogID}}</span><br/>

                                <label>Requested By: </label> <span class="modalRequest">{{vm.ViewModal.ShowRequestedBy}}</span><br />

                                <label>Client Name: </label> <span class="modalRequest">{{vm.ViewModal.ClientName}}</span><br />

                                <label>Date: </label> <span class="modalRequest">{{vm.ViewModal.ShowDate}}</span><br />

                                <label>Card Holder Name: </label> <span class="modalRequest">{{vm.ViewModal.Company}}</span><br />

                                <label>Pax Name: </label> <span class="modalRequest">{{vm.ViewModal.PaxName}}</span><br />

                                <label>Record Locator: </label> <span class="modalRequest">{{vm.ViewModal.RecordLocator}}</span><br />

                                <label>Currency: </label> <span class="modalRequest">{{vm.ViewModal.Currency}}</span><br />

                                <label>Amount: </label> <span class="modalRequest">{{vm.ViewModal.Amount | number: 2}}</span><br />

                                <label>Others: </label> <span class="modalRequest">{{vm.ViewModal.Others | number: 2}}</span><br />

                                <label>BCD Fee: </label> <span class="modalRequest">{{vm.ViewModal.BCDFee | number: 2}}</span><br />

                                <label>Admin Fee: </label> <span class="modalRequest">{{vm.ViewModal.AdminFee}}</span><br />

                                <label>Total: </label> <span class="modalRequest">{{vm.ViewModal.Total | number: 2}}</span><br />

                                <label>Option Time: </label> <span class="modalRequest">{{vm.ViewModal.OptionTime}}</span><br />

                                <label>Remarks: </label> <span class="modalRequest">{{vm.ViewModal.Remarks}}</span>
                                <br />

                                <div ng-show="vm.ViewModal.Status == 'P'">
                                    <label>Approval Code: </label>
                                    <input class="form-control" type="text" ng-model="vm.ViewModal.ApprovalCode" ng-show="vm.CurrentUser.Type == 'APR'">
                                    <span class="modalRequest" ng-show="vm.CurrentUser.Type == 'USR'">{{vm.ViewModal.ApprovalCode}}</span><br />

                                    <label>Decline Reason: </label>
                                    <input class="form-control" type="text" ng-model="vm.ViewModal.DeclinedReason" ng-show="vm.CurrentUser.Type == 'APR'">
                                    <span class="modalRequest" ng-show="vm.CurrentUser.Type == 'USR'">{{vm.ViewModal.DeclineReason}}</span>
                                    <br />

                                    <button class="btn btn-primary" ng-show="vm.CurrentUser.Type == 'APR'" ng-click="ApproveMoto(vm.ViewModal)">Approve</button>
                                    <button class="btn btn-danger" ng-show="vm.CurrentUser.Type == 'APR'" ng-click="DeclineMoto(vm.ViewModal)">Decline</button>
                                </div>

                                <div ng-show="vm.ViewModal.Status == 'F'">
                                    <label>Declined Reason</label>
                                    <input class="form-control" type="text" ng-model="vm.ViewModel.DeclinedVoidedReason"/>
                                    <button class="btn btn-danger" ng-show="vm.CurrentUser.Type == 'APR'" ng-click="ApproveVoid(vm.ViewModal)">Void</button>
                                    <button class="btn btn-warning" ng-show="vm.CurrentUser.Type == 'APR'" ng-click="DeclinedVoid(vm.ViewModal)">Declined Void Request</button>
                                </div>
                            </div><!--modal-body-->
                        </div>
                    </div>
                </div><!--container-->

            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--modal fade-->
    <!--Duplicate Modal-->
    <div class="portfolio-modal modal fade" id="DuplicateModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl"></div>
                    </div>
                </div>

                <div class="container" style="text-align:left">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h3>Duplicate Record</h3>
                                <br /><br />

                                <table id="duplicateTable" style="width:100%; font-size:12px;">
                                    <tr>
                                        <th>Log ID</th>
                                        <th>Client Name</th>
                                        <th>Passenger Name</th>
                                        <th>Amount</th>
                                        <th>Requested By</th>
                                        <th>Status</th>
                                    </tr>

                                    <tr ng-repeat="dup in vm.Duplicate">
                                        <td>{{dup.ShowLogID}}</td>
                                        <td>{{dup.ClientName}}
                                        </td>
                                        <td>{{dup.PaxName}}</td>
                                        <td>{{dup.Currency}} {{dup.Amount | number: 2}}</td>
                                        <td>{{dup.ShowRequestedBy}}</td>
                                        <td>{{dup.ShowStatus}}</td>
                                    </tr>
                                </table>

                                <button type="button" class="btn btn-primary" ng-click="SaveMoto(vm.Form)">Proceed Request</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Duplicate Modal-->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/Scripts/popper/popper.js"></script>
    <script src="~/Scripts/bootstrap/js/bootstrap.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery-easing/jquery.easing.js"></script>

    <!-- Contact form JavaScript -->
    <script src="~/Scripts/js/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Scripts/js/agency.js"></script>

    @Scripts.Render("~/bundles/angular")
    @RenderBody()

    <!--CANCEL MODAL-->
    <div class="modal fade" id="CancelMoto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Are you sure you want to cancel this Moto?</h6>
                </div>

                <div class="modal-body">
                    <button class="btn btn-warning" ng-click="CancelMotoRequest()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--VOID MODAL-->
    <div class="modal fade" id="VoidMoto" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Are you sure you want to void this Moto?</h6>
                </div>

                <div class="modal-body">
                    <button class="btn btn-warning" ng-click="VoidMoto()">Yes</button>
                    <button class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--CHANGE PASSWORD MODAL-->
    <div class="modal fade" id="ChangePassModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Change Password</h6>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Current Password</label>
                        <input class="form-control" type="password" ng-model="vm.Pass.CurrentPass" />
                    </div>

                    <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" type="password" ng-model="vm.Pass.NewPass" />
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input class="form-control" type="password" ng-model="vm.Pass.ConfirmPass" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-info btn-sm" ng-click="ChangePass(vm.Pass)">Change</button>
                        <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--LOGOUT MODAL-->
    <div class="modal fade" id="LogoutModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Are you sure you want to logout?</h6>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <button class="btn btn-danger btn-sm" ng-click="Logout()">Yes</button>
                        <button class="btn btn-default btn-sm" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--APPROVED REPORT TABLE-->
    <div class="modal fade" id="approvedReportModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Date Range</h6>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input class="form-control" id="approvedStart" type="date" />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input class="form-control" id="approvedEnd" type="date" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" ng-click="GetApprovedReport()">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="allReportModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Date Range</h6>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input class="form-control" id="allStart" type="date" />
                    </div>

                    <div class="form-group">
                        <label>End Date</label>
                        <input class="form-control" id="allEnd" type="date" />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" ng-click="GetAllMotoReport()">Export</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Please Select",
                allowClear: true,
            });

        });
    </script>
</body>
</html>
